@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
   font-family: 'Roboto', sans-serif; 
   font-size: 16px;
   font-weight: normal;
   background: #f2f2ff;
   color: #0f141e;
}
.info-text p {
   font-style: italic;
   font-weight: bold;
   color: #86898f;

}
.card {
   margin-bottom: 10px;
   background: #b0e0e6;
   border: 2px solid  #b0e0e6;
   border-radius: 20px;
   padding-left: 100px
   

   
}
.card1 {
   margin-bottom: 10px;
  background: #87cefa;
  border: 2px solid #00ced1 ;
  border-radius: 20px;
  
  padding-left: 100px
  
}
.card2 {
   margin-bottom: 30px;
   background: #eee8aa;
   border: 2px solid #eee8aa;
   border-radius: 20px;
   padding-left: 100px;
}
